opencv_python_headless==4.2.0.34
numpy==1.18.4
cryptography==2.9.2
sympy==1.5.1
ipaddr==2.2.0
Flask==1.1.2
ordereddict==1.1
pylsd==0.0.2
wincertstore==0.2
Werkzeug==1.0.1
lxml==4.5.0
Cython==0.29.17
protobuf==3.13.0
pyOpenSSL==19.1.0
ocrd-fork-pylsd==0.0.3